<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.liuqiang.gankforandroid">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">

        <activity android:name=".view.activity.MainActivity"
                  android:theme="@style/AppThemeLight">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".view.activity.SettingActivity"
                  android:theme="@style/AppThemeLight.Translucent"/>

        <activity android:name=".view.activity.WebActivity"
                  android:theme="@style/AppThemeLight.Translucent"
                  android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity android:name=".view.activity.ImageActivity"
                  android:theme="@style/AppThemeDark"/>

    </application>

</manifest>